html {
  background-color: black;
  color: white;
}
.myart {
  color: red;
}
.border {
  border-style: dotted;
}
.chang-font {
  font-family: "Lucida Console", "Courier New", monospace;
}

.divide {
  display: flex;
  justify-content: center;
  width: 85%;
}

.divide div {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2375d8;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
  "header header header header header header"
    "menu menu menu main right right";
    /* "header header header header header header"
    "menu menu menu main right right right"; */
  gap: 10px;
  background-color: #000000;
  padding: 10px;
  
}

.grid-container > div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body {
  font-family: "Lexend Exa", sans-serif;
}

nav {
  position: relative;

  display: inline-block;
  border: 2px solid #ebecf1;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
  background-color: #ebecf1;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}
ul li:not(:last-child) {
  margin-right: 40px;
}
ul li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
  width: 80%;
}
ul li a {
  color: #2375d8;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

ul li:hover {
  background: #ec4138;
  border: 2px solid #f05749;
  border-right: 2px solid #e02a21;
  border-bottom: 2px solid #e02a21;
}
ul li:hover a {
  color: #f9f8fd;
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}
